@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .initial {
    position: initial;
  }
}

.inputField-after::after {
  content: ' ';
  position: absolute;
  background: red;
  width: 100%;
  height: 2px;
  /* transform: scale(1); */
}
